<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebHooks.Common" version="1.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebHooks.Custom" version="1.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebHooks.Custom.SqlStorage" version="1.2.1" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.DataProtection" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNetCore.Http.Features" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.Options" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Swashbuckle" version="5.3.2" targetFramework="net451" />
  <package id="Swashbuckle.Core" version="5.3.2" targetFramework="net451" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net451" />
</packages>