@using Nop.Plugin.Api.Constants
@using Nop.Plugin.Api.Models

@model ClientModel

<div class="adminGroup">
    <div id="adminGroupPanel1" class="adminGroupPanel">
        @Html.Partial(ViewNames.AdminApiClientsSettings, Model)
    </div>
</div>