@using Nop.Plugin.Api.Constants
@using Nop.Plugin.Api.Models

@model ClientModel

<div class="panel-group">
    <div class="panel panel-default">
        @Html.Partial(ViewNames.AdminApiClientsSettings, Model)
    </div>
</div>
